@use '../helpers' as *; 

.button {
    display: flex;
    color: var(--white);
    font-family: var(--font-family);
    font-size: fluid(25, 18);
    background-color: var(--white);
    color: var(--font-color);
    border-radius: rem(10);
    text-align: center;
    justify-content: center;


    &--burger-menu {
            padding-block: rem(12) rem(12);
            width: fluid(262, 200);
            font-size: rem(20);
            font-weight: 400;
            max-height: rem(44);
        
            @include hover {
                background-color: var(--light-orange) !important;
            }

            @include laptop {
                max-width: rem(170);
                font-size: rem(15);
                padding-block: rem(10) rem(10);
            }

            @include tablet {
                max-width: rem(300);
            }

            @include mobile {
                font-size: rem(20);
            }

            @include mobile-s {
                max-width: rem(250);
            }
       
    }

    &.in-top-position, &--blue {
        background-color: var(--font-color);
        color: var(--white);

        @include hover {
            background-color: var(--middle-blue);
            color: var(--font-color);
        }
    }

    &--yellow {
        background: var(--color-accent);
        color: var(--font-color);

        @include hover {
            background-color: #FFD574;
        }
    }

    &--camel-orange {
        background: var(--camel-orange);
        color: var(--font-color);

        @include hover {
            background-color: var(--light-orange);
            color: var(--font-color);
        }
    }

    &--size-and-family {
        font-family: var(--second-family);
        font-size: rem(20);
        font-weight: 700;
        padding: rem(10) rem(48);

        @include mobile {
            font-size: rem(16);
        }
    }

    &--pudding {
        padding-block: rem(17);
    }
}