@use '../helpers' as *; 


.extra {
    padding-top: rem(160);
    color: var(--white);


    &--dark {
        color: var(--dark);
        opacity: 0.6;
        padding-block: rem(30) rem(20);
    }

    @include mobile-s {
        padding-block: rem(10) rem(10);
    }

    &__list {
        display: flex;
        column-gap: rem(5);
        font-size: rem(20);
    }

    &__item {
        &:not(:last-child)::after {
            content: " / ";
          }

    }

    &__nav {
        @include animate(0, -50%, 1s);
    }

    &__link {
        text-decoration: none;
    }

    &--top-padding {
        padding-block: 0;
        padding-top: rem(40);
    }
}