@use '../helpers' as *; 

.stories-nav {
    position: relative;

    .swiper-button-next, .swiper-button-prev {
        position: absolute ;
        color: var(--font-color);
        font-size: rem(15);
    }

    .swiper-button-next {
        right: rem(-15);
        transform: translateX(50%);
    }

    .swiper-button-prev {
        left: rem(-15);
        transform: translateX(-50%);
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: rem(15);
        font-weight: 900;
    }

}