@use '../../helpers' as *; 

.info {
    background-color: var(--color-gray);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: rem(60);
    }

    &__title {
        max-width: rem(804);
        text-align: center;
        font-family: var(--font-family);
        font-weight: 400;

        @include mobile {
            max-width: fluid(300, 478);
        }
    }

    &__list {
        display: flex;
        align-content: justify-content;
        justify-content: space-between;
        height: rem(175);
        column-gap: rem(60);

        @include laptop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr); 
            row-gap: rem(40);
            height: auto;
            column-gap: rem(20);

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &--2cols {
            @include laptop {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    } 

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__description {
        text-align: center;
        font-family: var(--font-family);
        font-size: rem(30);

        @include mobile {
            font-size: rem(23);
        }

        @include mobile-s {
            font-size: rem(18);
        }
    }
    
    &__extra {
        position: relative;
        display: flex;
        justify-content: center;
        width: auto;
        z-index: 20;
        

        &-img {
            max-width: fluid(1940, 748);
            max-height: fluid(1360, 601);

            &--rotate {
                rotate: 180deg;
            }

            @include mobile {
                height: rem(601);
            }

            @include mobile-s {
                max-width: rem(600);
                max-height: rem(400);
            }
        }


        &-wrapper {
            position: absolute;
            z-index: 21;
            top: fluid(292,129);
            font-weight: 400;

            @include mobile-s {
                top: rem(80);
            }
        }

        &-title {
            font-weight: 400;
            text-align: center;
            max-width: rem(1082);

            @include fluid-text(120, 50);

            @include mobile {
                max-width: rem(456);
            }

            @include mobile-s {
                font-size: rem(40);
            }
        }


        &-bold {
            font-family: var(--third-family);
        }

    }
}