@use '../helpers' as *; 

.button {
    color: var(--white);
    font-family: var(--font-family);
    font-size: fluid(25, 18);
    background-color: var(--white);
    color: var(--font-color);
    padding: fluid(15, 7) fluid(45, 10) fluid(14, 7);
    border-radius: rem(10);
    text-align: center;


    &--burger-menu {
        @include mobile {
            padding: rem(15) rem(45) rem(15);
        }
    }

    &--blue {
        background: var(--font-color);
        color: var(--white);

        @include hover {
            background-color: var(--middle-blue);
            color: var(--font-color);
        }
    }

    &--yellow {
        background: var(--color-accent);
        color: var(--font-color);

        @include hover {
            background-color: #FFD574;
        }
    }

    &--size-and-family {
        font-family: var(--second-family);
        font-size: rem(20);
        font-weight: 700;
        padding: rem(10) rem(48);

        @include mobile {
            font-size: rem(16);
        }
    }

    &--pudding {
        padding-block: rem(17);
    }
}