@use '../../helpers' as *; 

.reason {
    position: relative;
    background-color: var(--color-gray);

    &__inner {
        display: grid;
        padding-top: fluid(120, 80);
        row-gap: fluid(80, 54);
        justify-content: center;
        align-items: center;

        @include mobile-s {
            row-gap: rem(20);
            padding-top: rem(20);
        }

        &--about-us {
            padding-block: fluid(60, 30);
        }
    }

    &__title {
        font-family: var(--third-family);
        text-align: center;
        width: max-content;
        z-index: 1;
        @include mobile-s {
            font-size: rem(50);
        }
    }

    &__details {
        position: absolute;
        bottom: rem(46);
        right: rem(100);
        width: rem(262);
        height: rem(44);

        @include mobile {
            bottom: rem(0);
            width: 100%;
            left: 0;
            right: 0;
        }

        @include mobile-s {
            height: auto;
        }

        &-title {
            @include mobile {
                width: 100%;
                border-radius: 0;
            }

            @include mobile-s {
                max-width: 100%;
                border-radius: 0;
                max-height: rem(30);
            }
        }
    }

    &__body {
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: rem(102);
        position: relative;

        @include tablet {
            row-gap: rem(60);
        }

        @include mobile-s {
            row-gap: rem(20);
        }
    }

    &__cow-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(1029);
        height: rem(591);
        align-items: start;
        justify-content: start;
        margin-inline: auto;

        @include laptop {
            width: auto;
            height: rem(823);
        }

        @include mobile {
            margin-right: rem(-25);
        }

        @include mobile-s {
            height: rem(400);
            margin-right: rem(0);
        }
    }

    &__cow-image {
        position: absolute;
        right: rem(37);
        bottom: rem(-2);
        width: fluid(538, 466);
        height: fluid(530, 459);

        &--camel {
            right: rem(-97);
            bottom: rem(-2);
            width: fluid(629, 581);
            height: fluid(549, 470);

            @include mobile {
                right: auto;
                left: rem(-14);
            }

            @include mobile-s {
                right: auto;
                left: rem(40);
            }
        }

        @include mobile-s {
            width: rem(250);
            height: auto;
            right: rem(-40);
        }
    }

    &__cow-description {
        display: flex;
        position: relative;

        background: 
            url(../images/reason/green-cloud.png)
            no-repeat center / cover
        ;
        width: rem(596);
        height: rem(485);

        &--camel {
            background: 
            url(../images/reason/orange-cloud.png)
            no-repeat center / cover
        ;

        }

        @include laptop {
            width: rem(612);
            height: rem(499);
        }

        @include mobile-s {
            width: 19rem;
            height: rem(250);
        }
    }

    &__cow-cloud {
        position: absolute;
        width: rem(445);
        height: rem(231);
        left: rem(65);
        top: rem(94);

        @include mobile-s {
            width: 19rem;
            height: 7rem;
            left: rem(5);
            top: rem(44);
        }

        &--camel {
            width: rem(286);
            height: rem(138);
            top: 50%;
            left: 50%;
            translate: -50% -50%;

            @include mobile {
                width: rem(231);
                height: rem(103);
            }

            @include mobile-s {
                width: rem(160);
                height: rem(80);
            }
        }
    }

    &__header {
        display: grid;
        row-gap: rem(10);
        justify-content: center;

        @include mobile {
            row-gap: rem(10);
        }
    }

    &__description {
        display: flex;
        font-family: var(--font-family);
        color: var(--cows-green);
        font-weight: 500;
        max-width: rem(408);
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-inline: auto;

        &--camel {
            color: var(--camel-orange);
        }

        
        @include fluid-text(40, 35)
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: rem(348) rem(299) rem(287) rem(147) rem(329);
        column-gap: rem(25);
        row-gap: rem(60);
        z-index: 4;

        &--about-us {
            grid-template-rows: rem(476) rem(467) rem(476) rem(524) rem(428);
            row-gap: rem(36);

            @include mobile {
                row-gap: rem(60); 
            }
        }

        @include laptop {
            grid-template-rows: repeat(5, auto);
        }

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mobile-s {
            row-gap: rem(20);
        }
    }

    &__item {
       
        @include tablet-above {
            &:first-child {
                grid-area: 1 / 1 / 2 / 2;
                
            }
            &:nth-child(2) {
                grid-area: 2 / 2 / 3 / 3;
                
            }
    
            &:nth-child(3) {
                grid-area: 3 / 2 / 4 / 3;
                
            }
    
            &:nth-child(4) {
                grid-area: 4 / 2 / 5 / 3;
            }
    
            &:last-child {
                grid-area: 5 / 1 / 6 / 2;
                
            }
        }

        &-img {
            width: rem(238);
            height: rem(635);
            z-index: 1;

            @include mobile-s {
                width: 50%;
                height: auto;
            }

            &--green-about {
                position: absolute;
                right: rem(-374);
                top: rem(-32);
                translate: 100%;
                rotate: -54deg;
                z-index: -1;

                @include tablet {
                    top: rem(-60);
                    right: rem(-0);
                    translate: 50%;
                    rotate: -14deg;
                }

                @include mobile {
                    min-width: rem(582);
                    min-height: rem(308);
                    top: rem(89);
                    left: rem(256);
                    translate: 0% -50%;
                    rotate: -22deg;
                }

                @include mobile-s {
                    min-width: rem(450);
                    min-height: auto;
                    top: rem(89);
                    left: rem(160);
                    translate: 0% -50%;
                    rotate: -22deg;
                }
            }

           &--green {
                position: absolute;
                right: rem(-374);
                top: rem(-32);
                translate: 100%;
                rotate: -54deg;
                z-index: -1;

                @include tablet {
                    top: rem(-60);
                    right: rem(-0);
                    translate: 50%;
                    rotate: -14deg;
                }

                @include mobile-s {
                    right: rem(-50);
                    top: rem(-50);
                }
           }

           &--orange-about {
            position: absolute;
            left: rem(-365);
            top: rem(-48);
            translate: -100%;
            rotate: 34deg;
            z-index: -1;

            @include tablet {
                left: rem(0);
                top: rem(61);
                translate: -50%;
                rotate: 11deg;
            }

            @include mobile {
                left: rem(-62);
                top: rem(-284);
                rotate: 18deg;
                z-index: -1;
            }

            @include mobile-s {
                width: auto;
                height: rem(350);
                left: rem(-20);
                top: rem(-150);
                rotate: 18deg;
                z-index: -1;
            }
       }

           
           &--orange {
                position: absolute;
                left: rem(-365);
                top: rem(-48);
                translate: -100%;
                rotate: 34deg;
                z-index: -1;

                @include tablet {
                    left: rem(0);
                    top: rem(61);
                    translate: -50%;
                    rotate: 11deg;
                }

                @include mobile-s {
                    left: rem(-50);
                }
           }

           &--red-about {
            position: absolute;
            left: rem(-162);
            top: rem(-136);
            translate: -100%;
            rotate: 9.32deg;
            z-index: -1;

            @include tablet {
                left: rem(23);
                top: rem(100);
                translate: -50% 95%;
                rotate: 16deg;
            }

            @include mobile {
                min-width: rem(582);
                height: rem(308);
                top: -303px;
                left: -361px;
                rotate: 92deg;
                transform: scaleY(-1);
                translate: 0% 200%;
                
            }
       }

           &--red {
                position: absolute;
                left: rem(-162);
                top: rem(-136);
                translate: -100%;
                rotate: 9.32deg;

                @include tablet {
                    left: rem(23);
                    top: rem(100);
                    translate: -50% 95%;
                    rotate: 16deg;
                }

                @include mobile-s {
                    top: rem(-50);
                    left: rem(-30);
                }
           }

           &--blue-about {
                position: absolute;
                right: rem(-300);
                top: rem(-200);
                translate: 100%;
                rotate: -37deg;

                @include tablet {
                    position: absolute;
                    right: rem(0);
                    top: rem(-300);
                    translate: 50% 0%;
                    rotate: -17deg;
                }

                @include mobile {
                    right: rem(-79);
                    top: rem(-153);
                    translate: 50% -200%;
                    rotate: -14deg;
                }

                @include mobile-s {
                    right: rem(-27);
                    top: rem(122);
                    translate: 50% -200%;
                    rotate: -14deg;
                }
           }

           &--blue {
                position: absolute;
                right: rem(-349);
                top: rem(-29);
                translate: 100%;
                rotate: -37deg;

                @include tablet {
                    position: absolute;
                    right: rem(0);
                    top: rem(-394);
                    translate: 50% 0%;
                    rotate: -17deg;
                }

                @include mobile-s {
                    right: rem(-50);
                }
           }
        }
    }

    &__card {
        display: flex;
        column-gap: fluid(25, 10);
        align-items: start;
        justify-content: start;
        position: relative;

        @include tablet {
            justify-content: center;
        }

        &-number {
            margin-top: rem(-24);
            font-family: var(--font-family);
            font-size: fluid(70, 50);

            @include mobile {
                margin-top: rem(-13);
            }

            @include mobile-s {
                font-size: rem(35);
                margin-top: rem(-9);
            }
        }

        &-title { 
            font-family: var(--font-family);
            font-weight: 500;
        }

        &-description {

            @include tablet-above {
                max-width: fluid(694, 380);
            }
        }

        &-body {
            display: grid;
            row-gap: rem(20);
            z-index: 2;

            @include tablet {
                width: rem(380);
            }

            @include mobile-s {
                width: rem(260);
            }
        }
    }
}