@use '../../helpers' as *; 


.cloud-slider {

    &__slide {
        &:nth-child(1) {
            .cloud-slider__bg {
                background: 
                transparent url(../images/cloud/1.jpg) 
                no-repeat center / cover
                ;

                @include mobile {
                    background: 
                    transparent url(../images/cloud/1-mobile.jpg) 
                    no-repeat center / cover
                    ;
                }

                &--two {

                    background: 
                        transparent url(../images/cloud/21.jpg) 
                        no-repeat center/cover
                    ;

                    @include mobile {
                        background: 
                        transparent url(../images/cloud/21-mobile.jpg) 
                        no-repeat right/cover
                    ;
                    }
                }
            }
        }

        &:nth-child(2) {
            .cloud-slider__bg {
                background: 
                transparent url(../images/cloud/2.jpg) 
                    no-repeat center / cover
                ;

                @include mobile {
                    background: 
                    transparent url(../images/cloud/2-mobile.jpg) 
                    no-repeat center / cover
                ;
                }

                &--two {
                    background: 
                        transparent url(../images/cloud/22.jpg) 
                        no-repeat center / cover
                    ;
    
                    @include mobile {
                        background: 
                        transparent url(../images/cloud/22-mobile.jpg) 
                        no-repeat right/cover
                    ;
                    }
                }
            }

        }

        &:nth-child(3) {
            .cloud-slider__bg {
                .cloud-slider__content {
                    padding-top: fluid(653, 288);
                }
    
                background: 
                    transparent url(../images/cloud/3.jpg) 
                    no-repeat center / cover
                ;
    
                @include mobile {
                    background: 
                    transparent url(../images/cloud/3-mobile.jpg) 
                    no-repeat center / cover
                ;
                }

                &--two {
                    background: 
                        transparent url(../images/cloud/23.jpg) 
                        no-repeat center / cover
                    ;
    
                    @include mobile {
                        background: 
                        transparent url(../images/cloud/23-mobile.jpg) 
                        no-repeat right/cover
                    ;
                    }
                }
            }

        }

        &:nth-child(4) {
            .cloud-slider__bg {
                background: 
                transparent url(../images/cloud/4.jpg) 
                no-repeat center / cover
            ;

            @include mobile {
                background: 
                transparent url(../images/cloud/4-mobile.jpg) 
                no-repeat center / cover
            ;
            }

            &--two {
                background: 
                    transparent url(../images/cloud/24.jpg) 
                    no-repeat center / cover
                ;

                @include mobile {
                    background: 
                    transparent url(../images/cloud/24-mobile.jpg) 
                    no-repeat right / cover
                ;
                }
            }

            }

        }

        &:nth-child(5) {
            .cloud-slider__bg {
                background: 
                transparent url(../images/cloud/5.jpg) 
                no-repeat center / cover
            ;

            @include mobile {
                background: 
                transparent url(../images/cloud/5-mobile.jpg) 
                no-repeat center / cover
            ;
            }

            &--two {
                background: 
                    transparent url(../images/cloud/25.jpg) 
                    no-repeat center / cover
                ;

                @include mobile {
                    background: 
                    transparent url(../images/cloud/25-mobile.jpg) 
                    no-repeat right / cover
                ;
                }
                }
            }
        }
    }

    &__bg {

        &--two {
            .cloud-slider__content {
                padding-top: fluid(903, 288);
            }
        }
        
    }


    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: start;
        width: fluid(1950, 1100);
        height: fluid(1442, 756);



        &--height {
            height: fluid(1706, 895);
        }

        @include mobile-s {
            height: rem(700);
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        width: fluid(845, 460);
        row-gap: rem(40);
        justify-content: start;
        align-items: start;
        padding-top: fluid(847,288);

        @include mobile {
            padding-bottom: 0;
        }

        @include mobile-s {
            width: fluid(350, 300);
            row-gap: rem(20);
        }

    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        text-align: start;
        font-size: fluid(70,35);

        @include mobile-s {
            font-size: rem(30);
        }

        
    }

    &__description {
        max-width: fluid(700, 359);
        text-align: start;

        &--width {
            max-width: fluid(700, 460);
        }

    }


    .swiper-pagination {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        column-gap: rem(34);
        justify-content: center;
        bottom: rem(120) !important;

        @include tablet {
            bottom: rem(60) !important;
            column-gap: rem(10);
        }

        &--bg-bullet {
            .swiper-pagination-bullet {
                background-color: #BDBCBC;

                &-active {
                    background-color: var(--font-color);
                }
            }
            
        }
        
    }

    .swiper-pagination-bullet {
        background-color: var(--color-stock);
        opacity: 1;
        margin: 0 !important;
        
        

        @include square(rem(25));

        @include mobile {
            @include square(rem(20));
        }

        @include mobile-s {
            @include square(rem(15));
        }

        &-active {
            background-color: var(--font-color);
        }
    }

  
}