@use '../../helpers' as *; 


.cloud-slider {

    &__bg {

        &:nth-child(1) {
            background: 
                transparent url(../images/cloud/1.jpg) 
                no-repeat center / cover
            ;

            @include mobile {
                background: 
                transparent url(../images/cloud/1-mobile.jpg) 
                no-repeat center / cover
            ;
            }
        }


        @include laptop {
            background-position: 100%;
        }
        
    }

    &__bg--two {
        background: 
            transparent url(../images/cloud/21.jpg) 
            no-repeat center / cover
        ;

        @include laptop {
            background-position: 100%;
        }

        @include mobile {
            background: 
            transparent url(../images/cloud/21-mobile.jpg) 
            no-repeat center / cover
        ;
        }
        
    }

    &__wrapper {
        display: flex;
        align-items: end;
        justify-content: start;
        width: fluid(1950, 1100);
        height: fluid(1442, 756);

        &--height {
            height: fluid(1442, 895);
        }

        @include mobile-s {
            height: rem(700);
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        width: fluid(845, 460);
        row-gap: rem(40);
        padding-bottom: fluid(245, 140);
        justify-content: start;
        align-items: start;

        @include mobile-s {
            width: fluid(350, 300);
            row-gap: rem(20);
        }

    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        text-align: start;

        @include mobile-s {
            font-size: rem(30);
        }

        
    }

    &__description {
        max-width: fluid(700, 359);
        text-align: start;

        &--width {
            max-width: fluid(700, 460);
        }

    }


    .swiper-pagination {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        column-gap: rem(34);
        justify-content: center;
        bottom: rem(120);

        @include tablet {
            bottom: rem(60);
            column-gap: rem(10);
        }
        
    }

    .swiper-pagination-bullet {
        background-color: var(--color-stock);
        opacity: 1;

        @include square(rem(25));
        margin: 0;

        @include mobile {
            @include square(rem(20));
        }

        @include mobile-s {
            @include square(rem(15));
        }

        &-active {
            background-color: var(--font-color);
        }
    }

  
}