@font-face {
    font-family: 'Black Hans Sans';
    src: url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap) format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}  

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
    font-family: 'Asap' ;
    src: url(../fonts/Asap-Regular.woff2) format('woff2'),
    url(../fonts/Asap-Regular.woff) format('woff'),
    url(../fonts/Asap-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Asap' ;
    src: url(../fonts/Asap-Medium.woff2) format('woff2'),
    url(../fonts/Asap-Medium.woff) format('woff'),
    url(../fonts/Asap-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Asap' ;
    src: url(../fonts/Asap-ExtraBold.woff2) format('woff2'),
    url(../fonts/Asap-ExtraBold.woff) format('woff'),
    url(../fonts/Asap-ExtraBold.ttf) format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Asap' ;
    src: url(../fonts/Asap-SemiBold.woff2) format('woff2'),
    url(../fonts/Asap-SemiBold.woff) format('woff'),
    url(../fonts/Asap-SemiBold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Platypi' ;
    src: url(../fonts/Platypi-Bold.woff2) format('woff2'),
    url(../fonts/Platypi-Bold.woff2) format('woff'),
    url(../fonts/Platypi-ExtraBold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Platypi' ;
    src: url(../fonts/Platypi-ExtraBold.woff2) format('woff2'),
    url(../fonts/Platypi-ExtraBold.woff) format('woff'),
    url(../fonts/Platypi-ExtraBold.ttf) format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Asap' ;
    src: url(../fonts/Asap-SemiBold.woff2) format('woff2'),
    url(../fonts/Asap-SemiBold.woff) format('woff'),
    url(../fonts/Asap-SemiBold.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}  