@use '../../helpers' as *; 

.rating-stars {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(20);


    &__stars {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(4); 

        &-text {
            &--small-mobile {
                font-size: rem(20);
            }
        }

    }

    &__star {
        @include mobile {
            @include square(rem(25))
        }
        
        @include mobile-s {
            @include square(rem(15))
        }
    }

}