@use '../../helpers' as *; 

.pure-slider-mini {
    &__content {
        max-width: 100%;
        height: auto;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        height: 100%;
        width: 100%;
    }
}

.swiper-mini {
    width: 100%;
    height: auto;
  }