@use '../../helpers' as *; 

.pure-slider {
  width: 100%;
  height: 100%;

  &__content {
    width: 100%;
    height: 100%;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.custom-prev, .custom-next {
  width: fluid(28, 17);
  height: fluid(50, 37);
  position: absolute;
  top: 50%;
  z-index: 6;

  @include mobile {
    top: 111%;
  }

}

.custom-prev {
  left: 0;
  background: url(../images/pure/left.svg) no-repeat center/cover;
  left:  rem(-45);

  @include mobile-s {
    left: rem(-25);
  }

}

.custom-next {
  right: rem(-45);
  background: url(../images/pure/right.svg) no-repeat center/cover;

  @include mobile-s {
    right: rem(-25);
  }
}