@use '../../helpers' as *; 

.pure {
    padding-block: fluid(120, 78) fluid(78, 77);

    @include mobile {
        padding-inline: 0;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(39);

        @media(width <= 1700px) {
            flex-direction: column;
        }

    }

    &__slider-main-wrapper {
        width: fluid(845, 564);
        height: fluid(903, 613);
        position: relative;

        @media(width <= 1700px) {
            order: 2;
        }

        @include mobile-s {
            width: rem(300);
            height: rem(350);
        }
    }

    &__slider-child-wrapper {
        width: fluid(808, 441);
        height: fluid(229, 120);

        @media(width <= 1700px) {
            order: 3;
            margin-top: rem(26);
        }

        @include mobile-s {
            width: rem(300);
            height: rem(100);
            margin-top: rem(30);
        }
    }

    &__body {
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: rem(80);

        @media(width <= 1700px) {
            display: contents;
        }


        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: rem(40);

            @media(width <= 1700px) {
                order: 1;
                margin-bottom: rem(60);
            }

            @include mobile {
                row-gap: rem(20);
            }

            @include mobile-s {
                row-gap: rem(20);
                margin-bottom: rem(20);
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-subtitle {
            font-family: var(--font-family);
            color: var(--cows-green);
            font-weight: 500;

            &:last-child {
                margin-top: rem(35);

                @include mobile {
                    margin-top: rem(30);
                }
            }
        }

        &-main {
            color: var(--font-color);
            font-family: var(--third-family);
        }
    }


}