@use '../../helpers' as *; 


.stories-slider {
    

    &__outer {
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        @include square(rem(70));

        @include mobile-s {
            @include square(rem(50));
        }
    }


    &__img {
        border-radius: 50%;
        border: rem(3) solid transparent;
        border-radius: 50%;
        background: linear-gradient(140deg, #AC4AE4, #EB4B4B, #E5FF74) border-box; 
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &:has(.swiper-button-prev) {
        .swiper-button-next, .swiper-button-prev {
            color: var(--font-color);
            position: absolute;
            top: 50%; 
            transform: translateY(0%); 
            z-index: 2; 
          }

        .swiper-button-next::after, .swiper-button-prev::after {
            font-size: rem(15);
            font-weight: 600;
          }
          

    }
        
    
}