@use '../../helpers' as *; 

.technology {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--cows-green);
    height: fluid(1744, 713);
    padding-block: fluid(140, 60);
    z-index: 1;
    margin-top: rem(-576);

    &--camel {
        background-color: var(--camel-orange);  
    }

    @media (width <= 1600px) {
        margin-top: rem(-410);
    }

    @include tablet {
        margin-top: rem(-300);
    }

    @include mobile {
        margin-top: rem(-196); 
    }

    @include mobile-s {
        margin-top: rem(-100); 
        height: rem(500);
        
    }


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: fluid(40, 20);
        max-width: fluid(1195, 460);
        width: 100%;

        @include mobile-s {
            max-width: rem(340);
        }

    }




    &__text {
        text-align: center;
        max-width: fluid(846, 460);
        width: 100%;
        font-size: fluid(40, 23);

        @include mobile-s {
            font-size: rem(18);
            width: rem(340);
        }
    }

    &__text-main {
        font-family: var(--font-family);
        text-align: center;
        font-size: fluid(70, 25);

        @include mobile-s {
            font-size: rem(20);
        }
    }
}