@use '../../helpers' as *; 

.family {
    &__inner {
        background: url(../images/family/family.jpg)
            no-repeat center / cover;
        display: flex;
        align-items: end;
        justify-content: end;

        @include mobile {
            background-position: 50% 50%;
        }

        &--product-list {
            background: url(../images/family/product-list.jpg)
            no-repeat center / cover;
        }
    }


    &__card {
        background-color: var(--cows-green);
        display: flex;
        align-items: start;
        justify-content: start;
        width: rem(800);
        height: rem(960);
        margin-bottom: fluid(199, 37);

        @include laptop {
            max-width: fluid(800, 360);
            height: fluid(960, 582);
        }

        @include mobile {
            width: rem(360);
            height: rem(582);
        }

        @include mobile-s {
            width: rem(220);
            height: rem(350);
        }
        

        &-body {
            padding-block: rem(60) 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            row-gap: rem(20);
            padding-inline: rem(58) 0;

            @include laptop {
                padding-inline: rem(29) 0;
                padding-block: rem(60) 0;
            }

            @include mobile-s {
                padding-inline: rem(10) 0;
                padding-block: rem(20) rem(20);
                row-gap: rem(10);
            }
        }
    }

    &__description {
        font-weight: 500;
        max-width: rem(553);

        @include tablet {
            max-width: rem(251);
            font-size: rem(23);
        }

        @include mobile-s {
            font-size: rem(16);
        }

        p {
            margin: 0;
        }
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;

        @include mobile {
            font-size: rem(30);
        }
    }
}