@use '../../helpers' as *; 

.details-list {
    display: flex;
    position: relative;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    z-index: 2;

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: rem(5);
        
        &::after {
            content: "";
            display: block;
            color: var(--font-color);
            width: rem(12);
            height: rem(20);
            background: url(../images/tabs/arrow-right.svg) no-repeat center/contain;
        }

        &--menu {
            font-size: rem(20);
            column-gap: rem(5);
            &::after {
                content: "";
                display: flex;
                color: var(--font-color);
                width: rem(20);
                height: rem(15);
                background: url(../images/tabs/arrow-right-white.svg) no-repeat center/contain;
                transition-duration: var(--transition-duration);
            }
        }
    }

    
    &[open] {
        .details-list__title {
            background-color: var(--light-orange);

            &:not(.in-top-position) {
                .details-list__arrow {
                    &--menu {
                        &::after {
                            background: url(../images/tabs/arrow-right-active.svg) no-repeat center/contain;
                        }
                    }
                }
            }
        }

        .details-list__arrow  {
            &::after {
                content: "";
                background: url(../images/tabs/arrow-right-active.svg) no-repeat center/contain;
            }

            &--menu {
                color: var(--font-color);
            }

        }
    }

    &__list {
        position: absolute;
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 0 0 rem(10) rem(10);
        left: 0;
        right: 0;
        top: rem(40);
        padding-block: rem(35) rem(28);
        z-index: 1;

        &--reason {

            @include mobile-s {
                top: rem(20);
            }

        }
        
        

        &--shadow {
            box-shadow: 0 5px 10px 0 rgba(50, 62, 72, 0.15);
        }

        &--menu {
            top: rem(30);

            @include mobile {
                padding-block: rem(30) rem(23);
            }
        }

    }

    &__item {
       text-transform: uppercase;
       font-size: rem(20);
    }

    &__title {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition-duration: var(--transition-duration);
        z-index: 3;


        &:not(.in-top-position) {
            .details-list__arrow {
                &--menu {
                    &::after {
                        background: url(../images/tabs/arrow-right.svg) no-repeat center/contain;
                    }
                }
            }
        }
    }

    &__link {
        font-family: var(--second-family);
        font-weight: 800;
        &--menu {
            color: var(--font-color);
        }
    }
}