@use '../../helpers' as *; 

.stories-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0;
    background-color: var(--main-grey);
    z-index: 10;
    color: var(--white);
    align-items: center;
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
        @include hide;
        translate: 100%;
        transition-duration: var(--transition-duration);
     }

    &__wrapper {
        position: absolute;
        top: rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: rem(20);
        padding-inline: rem(20);
        width: 100%;
        z-index: 12;
        column-gap: 2rem;
    }

    

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(15);
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(20);
    }

    &__progress {
        display: flex;
        column-gap: rem(5);
        position: relative;
        width: 100%;
        height: rem(5);

        &-bar {
            width: 100%;
            height: inherit;
            border-radius: rem(5);
            width: 100%;
            background-color: var(--white);

            &-fill {
                background-color: var(--color-accent);
                height: rem(5);
            }

            &.is-active {
                .stories-popup__progress-bar-fill {
                    width: 0;
                }
            }

            &.is-active ~ .stories-popup__progress-bar > .stories-popup__progress-bar-fill {
                width: 0;
            }
        }


    }


    &__extra {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: rem(110);
        width: 100%;
        padding-inline: rem(91);
        z-index: 12;

        @include mobile-s {
            bottom: rem(60);
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-grey);
            height: rem(65);
            max-width: rem(455);
            width: 100%;
            min-width: max-content;
            border-radius: rem(40);
            font-size: rem(30);
            padding-inline: 1rem;

            @include mobile-s {
                font-size: rem(20);
                height: rem(50);
            }
        }
    }


    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: rem(80);
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: var(--dark-alt);
        z-index: 12;

        @include mobile-s {
            max-height: rem(40);
        }

        &-wrapper {
            display: flex;
            column-gap: rem(10);
            align-items: center;
            justify-content: center;

            svg {
                @include mobile-s {
                    @include square(rem(25));
                }
            }
        }
    }

    &__number {
        font-size: rem(25);

        @include mobile-s {
            font-size: rem(15);
        } 
    }

    &__buttons {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
    }

    &__prev,&__next {
        width: 50%;
        height: 100%;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 1; 
        transition: 1s; 

        &.is-active {
            opacity: 1; 
        }

        &.next {
            opacity: 0; 
        }
    }

    &__content {
        width: 100%;
        height: 100%;

        &-wrapper {
            width: 100%;
            height: 100%;
            &:not(.is-active) {
                display: none;
            }
        }
    }


}
