@use '../../helpers' as *; 

.card {
    display: flex;
    background-color: var(--white);
    height: fluid(547,395);
    width: fluid(553, 311);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: fluid(60, 54) fluid(44, 28) rem(56);
        row-gap: rem(28);
        height: auto;
    }

    &__stars {
        display: flex;
        justify-content: start;
        font-size: rem(30);
        row-gap: rem(12);
        
        @include tablet {
            flex-direction: column;
            font-size: rem(20);
            justify-content: start;
            align-items: start;
        }
    }

    &__body {
        display: grid;
        row-gap: fluid(40, 16);
    }

    &__cite {
        font-family: var(--font-family);
        font-weight: 500;
        font-style: normal;

        @include laptop {
            font-size: rem(20);
        }
    }

    &__text {
        @include laptop {
            font-size: rem(23);
        }
    }

}